<h1>Mantenimiento a Motivos de Referencias de Clientes</h1>
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Módulo" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Código de Motivo" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripción" value="">
</mat-form-field>
<hr>
  <div align="center">
    <button class="material-icons">save</button>
    <button class="material-icons">cancel</button>
    <button class="material-icons">?</button>
  </div>