<h1>
    Mantenimiento a Estatus de Avaluo
</h1>
<form>
    <table>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Codigo" [(ngModel)]="agregarAvaluo.codigo" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Descripcion" [(ngModel)]="agregarAvaluo.descripcion"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
    </table>
    <br>

    <div>
        <button type="submit"  [mat-dialog-close]="agregarAvaluo" class="material-icons">save</button>
        <button class="material-icons">cancel</button>
        <button class="material-icons">?</button>
    </div>
</form>