<mat-toolbar class="dialog" color= "warn">AjustesAltas</mat-toolbar>
<form>
  <table style="margin: auto;">
  <tr>
  <td><h4>Codigo:  </h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>descripcion:  </h4></td>
  <td>
  <mat-form-field>
  <input matInput placeholder="Input">
  </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Afecta Saldo principal:</h4></td>
  <td>
    <mat-checkbox> </mat-checkbox>
  </td>
  </tr>
  <tr>
  <td><h4>afecta Saldo Interes:  </h4></td>
  <td>
    <mat-checkbox> </mat-checkbox>
  </td>
  </tr>
  
  <tr>
  <td><h4>Afecta Saldo Mora:  </h4></td>
  <td>
    <mat-checkbox> </mat-checkbox>
  </td>
  </tr>       
  <tr>
  </table > 

  
  </form>
  