  #titulo{
    text-align: center;
    font-size: 35px;
  }

#fil{
  width: 100px;
  color: red;
  size: 3px;
}

#menu{
  margin-left: 50px;
  font-size: 50px;
  size: 50px;
}
#boton-home{
  margin-left: 980px;
  font-size: 50px;
}
  #side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
    font-size: 35px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background: lightyellow;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  #boton-enlace{
    height: 25px;
    width: 270px;
    //backface-visibility: unset;
    background: white;
    margin: 0px;
    border-color: white;
    border-style: none;
    text-align: left;
    margin-left: 15px;
  }

  #siden{
    background:white;
    border-color: lightslategray;
  }
  
  #boton-prueba {
    width: 200px;
    height: 200px;
  }

#prueba{
  height: 25px;
  width: 250px;
  margin: 0px; 
}

#barra-top{
  background: gold;
}

.mat-grid-tile {
  height: 300px;
  width: 300px;
  vertical-align: auto;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  
}

.mat-grid-list{
  height: 25px;
  width: 275px;
}