<div id="side" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar id="barra-top" class="example-toolbar">
    <button id="boton-menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 id="titulo">ByteApp</h1>

<div id="menu">
  <button mat-icon-button role="link" routerLink="/principal"><mat-icon>home</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="Perfil"><mat-icon>account_box</mat-icon></button>

<mat-menu #Perfil="matMenu">
  <button id="botonn" mat-menu-item role="link" routerLink="/principal" >► Configuración</button>
  <button id="botonn" mat-menu-item role="link" routerLink="/principal" >► Cerrar Sesión</button>
</mat-menu>
</div>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="siden" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div>
            <div id="fi">
              <mat-form-field id="fi">
                <input id="fi" name="filtro" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8" id="co">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="ta">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef id="tt">Vistas</th>
                  <td mat-cell role="link" [routerLink]="vis.link" id="t" *matCellDef="let vis">{{vis.name}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <hr>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <h1>
      <router-outlet></router-outlet>
    </h1>
  </mat-sidenav-container>
</div>
