<div id="side" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar id="barra-top" class="example-toolbar">
    <button id="boton-menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 id="titulo">ByteApp</h1>

<div id="menu">
  <button mat-icon-button role="link" routerLink="/principal"><mat-icon>home</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="Perfil"><mat-icon>account_box</mat-icon></button>

<mat-menu #Perfil="matMenu">
  <button id="botonn" mat-menu-item role="link" routerLink="/principal" >► Configuración</button>
  <button id="botonn" mat-menu-item role="link" routerLink="/principal" >► Cerrar Sesión</button>
</mat-menu>
</div>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="siden" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div>
            <div id="fi">
              <mat-form-field id="fi">
                <input id="fi" name="filtro" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
            <div class="example-container mat-elevation-z8" id="co">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="ta">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef id="tt">Vistas</th>
                  <td mat-cell role="link" [routerLink]="vis.link" id="t" *matCellDef="let vis">{{vis.name}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <hr>
            <!--SAMUEL-->
            <button id="btn" class="boton-enlace" role="link" routerLink="/Formas-de-desembolso" >Formas de Desembolso</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Motivo-de-reversa" >Motivo de Reversa</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Motivos-referencias-clientes" >Motivos de Referencias de Clientes</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Relacion-transacciones-depositos" >Relación Transiciones de Depósitos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Parametros-Adicional-por-Producto" >Parámetros Adicionales por Producto</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Eventos-de-solicitudes" >Eventos de Solicitudes</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Documentos-a-Presentar-por-Producto" >Documentos a Presentar por Producto</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Montos-por-Plazo" >Montos por Plazo</button>
            <hr>
            <!--ALAN - 7 vistas -->
            <button id="btn" class="boton-enlace" role="link" routerLink="/motivosDeAjustes" >Motivos de Ajustes</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/diasInhabiles">Dias Inhabiles</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/cobrosAdicionales">Cobros Adicionales</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/institucionesCobrosAdicionales">Instituciones Cobros Adicionales</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/limpiezaDeArchivos">Limpieza de Archivos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/productos">Productos</button>
            <hr>
            <!--OVANDO-->
            <button id="btn" class="boton-enlace" role="link" routerLink="/Acercamientos">Acercamientos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Asignación-de-categorias">Asignación de Categorias</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Canales-de-venta">Canales de Venta</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Medios-de-contacto">Medios de Contacto</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Porcentajes-de-financiamiento">Porcentajes de Financiamiento</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Rangos-de-plazos">Rangos de Plazos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Tipo-de-producto">Tipo de Producto</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/Tipos-de-canales-de-distribución">Tipos de Canales de Distribución</button>
            <hr>
            <!--MUÑOZ-->
            <button id="btn" class="boton-enlace" role="link" routerLink="/notarios">Notarios</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/inhabiles">Inhabiles</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/adicionales">Adicionales</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/estadosPrestamos">Estados Prestamos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/subEstados">Sub Estados</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/numeroPrestamos">Número Prestamos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/pasosCierre">Pasos Cierre</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/contabilizacion">Contabilizacion</button>
            
            <hr>
            <!--CHINO-->
            <button id="btn" class="boton-enlace" role="link" routerLink="/almacenadora">Almacenadora</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/aseguradora">Aseguradora</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/agrupacionesDeCredito">Agrupación de Créditos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/lugarInversion">Lugares de Inversión</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/asesorPrestamos">Asesores de Préstamo</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/tipoDeduccion">Tipos de Deducciones</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/tipoPrestamo">Tipos de Préstamos</button>
            <button id="btn" class="boton-enlace" role="link" routerLink="/bancos">Bancos</button>
            <hr>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <h1>
      <router-outlet></router-outlet>
    </h1>
  </mat-sidenav-container>
</div>
