<h1>Parámetros Adicional por Producto</h1>
      <br>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Producto" value="">
          </mat-form-field>
        </form>
    <div id="titulos">
    <h5>1) Eventos de solicitud</h5>
    <h5>2) Documentos a presentar x Producto</h5>
    <h5>3) Montos por Plazo</h5>
    <h5>4) Porcentajes de Financiamiento</h5>
    <h5>5) Rango de Plazos por Interés</h5>
  </div>
  <form id="opcion">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Opción" value="">
      </mat-form-field>
    </form>
    <div align="center">
        <button class="material-icons" (click)="openDialog()">add_box</button>
        <button class="material-icons">create</button>
        <button class="material-icons">undo</button>
        <button class="material-icons">redo</button>
        <button class="material-icons">refresh</button>
        <button class="material-icons">cancel</button>
        <button class="material-icons">?</button>
        </div>
      