<h1>
    Instancia
    </h1>
    <form>
        <table>
    
            <mat-form-field class="example-full-width">
                <input matInput placeholder="codigo" id="codigoinstancia" name="codigoInstancia" #codigoInstancia="ngModel" [(ngModel)]="agregarInstancia.codigoInstancia" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Descripcion" id="descripcion" name="descripcion" #descripcion ="ngModel" [(ngModel)]="agregarInstancia.descripcion"  
                    [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <br>
        </table>
        <br>
    
        <div>
            <button type="submit"  [mat-dialog-close]="agregarInstancia" class="material-icons">save</button>
            <button class="material-icons">cancel</button>
            <button class="material-icons">?</button>
        </div>
    </form>