<h1>Mantenimiento a Motivo de Reversa</h1>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Motivo" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripción" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Cargo Automático" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Retención Cargo" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Institución" value="">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Referencias" value="">
  </mat-form-field>
  
<hr>
  <div class="botones" align="center">
    <button class="material-icons">save</button>
    <button class="material-icons">cancel</button>
    <button class="material-icons">?</button>
    </div>