<h2>Editar</h2>
<hr>
<form>
  <table>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Codigo" [(ngModel)]="data.codigo"
            [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Descripcion" [(ngModel)]="data.descripcion"
            [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
  </table>
  <br>
  <div align="center">
    <button id="bn" type="submit" [mat-dialog-close]="data" class="material-icons">save</button>
    <button id="bn" class="material-icons">cancel</button>
    <button id="bn" class="material-icons">?</button>
  </div> 