<mat-toolbar class="dialog" color= "warn">Cobros Adicionales Altas</mat-toolbar>
<form>
  <table style="margin: auto;">
  <tr>
  <td><h4>Codigo de Cobro:  </h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Descripcion:  </h4></td>
  <td>
  <mat-form-field>
  <input matInput placeholder="Input">
  </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Descripcion para reportes:</h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  </table > 
  </form>
  