<h1>
    Tipo de deduccion 
            </h1>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="codigo" value="">
                </mat-form-field>
              <br> 
              
              
              <mat-form-field class="example-full-width">
                    <input matInput placeholder="Description" value=""> 
                   
                  </mat-form-field>  
                  <br>
                 
              </form> 
              <div align="center">
                  <button class="material-icons">add_box</button>
                  <button class="material-icons" (click)="openDialog()" >create</button>
                  <button class="material-icons">undo</button>
                  <button class="material-icons">redo</button>
                  <button class="material-icons">refresh</button>
                  <button class="material-icons">cancel</button>
                  <button class="material-icons">?</button>
                  </div>
                  