<mat-toolbar class="dialog" color= "warn">Sub Estado Altas</mat-toolbar>
<form>
  <table style="margin: auto;">
  <tr>
  <td><h4>Estado:  </h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Vigente">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Sub Estado:  </h4></td>
  <td>
  <mat-form-field>
  <input matInput placeholder="Input">
  </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Descripcion:</h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Equivalencia:  </h4></td>
  <td>
  <mat-form-field>
          <input matInput placeholder="Input">
          </mat-form-field>
  </td>
  </tr>
  </table > 

  </form>
  
