<h1>Agregar Motivos de Ajustes</h1>
<br>
<br>
<mat-form-field class="example full-width" id="filtro">
  <input matInput placeholder="Codigo" value=""
  [(ngModel)]="agregarMotivoDeAjuste.Codigo"
  [(ngModelOptions)]="{standalone: true}">
</mat-form-field>
<br>
<mat-form-field class="example full-width" id="filtro">
  <input matInput placeholder="Descripcion" value=""
  [(ngModel)]="agregarMotivoDeAjuste.Descripcion"
  [(ngModelOptions)]="{standalone: true}">>
</mat-form-field>
<br>
<br>
<section class="example-section">
  <mat-checkbox value="S" class="example-margin" [ngModelOptions]="{standalone: true}"
  [(ngModel)]="checked" [(ngModel)]="agregarMotivoDeAjuste.afectaSaldoCapital">Si</mat-checkbox>
</section>
<br>
<section class="example-section">
  <mat-checkbox value="S" class="example-margin" [ngModelOptions]="{standalone: true}"
  [(ngModel)]="checked2" [(ngModel)]="agregarMotivoDeAjuste.afectaSaldoInterez">Si</mat-checkbox>
</section>
<br>
<section class="example-section">
  <mat-checkbox value="S" class="example-margin" [ngModelOptions]="{standalone: true}"
  [(ngModel)]="checked3" [(ngModel)]="agregarMotivoDeAjuste.afectaSaldoMora">Si</mat-checkbox>
</section>

<br>
<hr>
<div align="center">
  <button id="bn" type="submit"  [mat-dialog-close]="agregarMotivoDeAjuste" class="material-icons">save</button>
  <button id="bn" class="material-icons">cancel</button>
  <button id="bn" class="material-icons">?</button>
</div>