<h1>Editar Motivos de Ajustes</h1>
<br>
<br>
<mat-form-field class="example full-width" id="filtro">
  <input matInput placeholder="Descripcion" value="">
</mat-form-field>
<br>
<br>
<br>
<section id="section">
  <label class="example-margin">Afecta Saldo Capital:</label>
    <mat-radio-button class="sino" value="after">Si</mat-radio-button>
    <mat-radio-button class="sino" value="before">No</mat-radio-button>
</section>
<br>
<section id="section">
  <label class="example-margin">Afecta Saldo Interes:</label>
    <mat-radio-button class="sino" value="after">Si</mat-radio-button>
    <mat-radio-button class="sino" value="before">No</mat-radio-button>
</section>
<br>
<section id="section">
  <label class="example-margin">Afecta Saldo Mora:  </label>
    <mat-radio-button class="sino" value="after">Si</mat-radio-button>
    <mat-radio-button class="sino" value="before">No</mat-radio-button>
</section>
<br>
<hr>
<div class="botones">
  <button id="bn" class="material-icons">save</button>
  <button id="bn" class="material-icons">cancel</button>
  <button id="bn" class="material-icons">?</button>
</div>