<mat-toolbar class="dialog" color= "warn">Altas</mat-toolbar>
<form>
  <table style="margin: auto;">
  <tr>
  <td><h4>Codigo:  </h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Nombre:  </h4></td>
  <td>
  <mat-form-field>
  <input matInput placeholder="Input">
  </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Colegiado No.:</h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Código:  </h4></td>
  <td>
  <mat-form-field>
          <input matInput placeholder="Input">
          </mat-form-field>
  </td>
  </tr>
  
  <tr>
  <td><h4>Dirección:  </h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>       
  <tr>
  <td><h4>Identificación:  </h4></td>
  <td>
  <mat-form-field>
          <input matInput placeholder="Input">
          </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Telefono:  </h4></td>
  <td>
      <mat-form-field>
              <input matInput placeholder="Input">
              </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Fax:  </h4></td>
  <td>
          <mat-form-field>
                  <input matInput placeholder="Input">
                  </mat-form-field>
  </td>
  </tr>
  </table > 

  <div class="botones" align="center">
    <button mat-raised-button>Editar</button>
    <button mat-raised-button>Eliminar</button>
    <button mat-raised-button>Visualizar</button>
    <button mat-raised-button>Registrar</button>
    <button mat-raised-button>Guardar</button>
    <button mat-raised-button>Next View</button>
    <button mat-icon-button>?</button>
    </div>
  

  </form>
  