<h1>Mantenimientos SubEstados</h1>
<br>

<mat-form-field class="example full-width">
  <input matInput placeholder="Estado" value="">

</mat-form-field>

<br>

<mat-form-field class="example full-width">
  <input matInput placeholder="SubEstado" value="">
</mat-form-field>





<mat-form-field class="example full-width">
  <input matInput placeholder="Descripcion" value="">
</mat-form-field>
<br>

<mat-form-field class="example full-width">
  <input matInput placeholder="Equivalencia" value="">
</mat-form-field>
  
<hr>
  <div class="botones">
    <button class="material-icons">save</button>
    <button class="material-icons">cancel</button>
    <button class="material-icons">?</button>
    </div>