<h1>Editar Dias Inhabiles</h1>
<br>
<br>
<br>

<section id="section">
  <label class="example-margin">Tipo de Feriado:</label>
  <mat-radio-group [(ngModel)]="l">
    <mat-radio-button class="sino" value="si">Fijo</mat-radio-button>
    <mat-radio-button class="sino" value="no">Variado</mat-radio-button>
  </mat-radio-group>
</section>
<br>
<mat-form-field class="example full-width" id="filtro">
  <input matInput placeholder="Fecha" value="">
</mat-form-field>

<br>

<mat-form-field class="example full-width" id="filtro">
  <input matInput placeholder="Descripcion" value="">
</mat-form-field>
<br>

<br>
<hr>
<div class="botones">
  <button id="bn" class="material-icons" [mat-dialog-close]="agregarMotivoDeAjuste">save</button>
  <button id="bn" class="material-icons">cancel</button>
  <button id="bn" class="material-icons">?</button>
</div>