<mat-toolbar class="dialog" color= "warn">Numero Prestamos Altas</mat-toolbar>
<form>
  <table style="margin: auto;">
  <tr>
  <td><h4>Orden en numero de Credito</h4></td>
  <td>
  <mat-form-field>
      <input matInput placeholder="Input">
      </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Codigo de dato:  </h4></td>
  <td>
  <mat-form-field>
  <input matInput placeholder="Input">
  </mat-form-field>
  </td>
  </tr>
  <tr>
  <td><h4>Separador</h4></td>
  <td>
 <mat-checkbox></mat-checkbox>
  </td>
  </tr>
  </table > 
  </form>