<h1>Editar Destinos</h1>
<br>
<br>
<br>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Código" [(ngModel)]="data.codigo"
  [ngModelOptions]="{standalone: true}">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Descripción" [(ngModel)]="data.descripcion"
  [ngModelOptions]="{standalone: true}" >
</mat-form-field>

<br>
<hr>
<div class="botones">
  <button id="bn" class="material-icons" [mat-dialog-close]="data">save</button>
  <button id="bn" class="material-icons">cancel</button>
  <button id="bn" class="material-icons">?</button>
</div>