<h1>Mantenimiento a Rangos</h1>
<br>

<mat-form-field class="example-full-width">
    <input matInput placeholder="Plazo Minimo" value="">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Plazo Maximo" value="">
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
    <input matInput placeholder="Tasa" value="">
</mat-form-field>
<br>

<hr>
<div align="center">
    <button class="material-icons">save</button>
    <button class="material-icons">cancel</button>
    <button class="material-icons">?</button>
</div>