<div id="titulo">
  <h1>
    Mantenimiento a Rangos
  </h1>
</div>
<div id="fields">
  <form>
    <mat-form-field class="field">
      <input matInput placeholder="Producto" value="">
    </mat-form-field>

  </form>
</div>
<div>
  <mat-form-field id="filtro">
    <input name="filtro" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="minimo">
      <th mat-header-cell *matHeaderCellDef> Plazo Minimo </th>
      <td mat-cell *matCellDef="let element"> {{element.minimo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="maximo">
      <th mat-header-cell *matHeaderCellDef> Plazo Maximo </th>
      <td mat-cell *matCellDef="let element"> {{element.maximo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tasa">
      <th mat-header-cell *matHeaderCellDef> Tasa </th>
      <td mat-cell *matCellDef="let element"> {{element.tasa}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<br>
<div id="botones">
  <button class="material-icons" (click)="openDialog1()">add_box</button>
  <button class="material-icons" (click)="openDialog2()">create</button>
  <button class="material-icons">file_copy</button>
  <button class="material-icons">refresh</button>
  <button class="material-icons">cancel</button>
  <button class="material-icons">?</button>
</div>